<html>
    <head>
        test
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
    </head>
    <body>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h1>hello from   index</h1>

            </div>
            <div class="col-md-3"></div>
        </div>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.min.js"></script>
    </body>
</html>
